# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.venv/
venv/

# IDEs
.idea/
.vscode/

# Build/Dist
build/
dist/
*.egg-info/

# Local data
*.sqlite3
*.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db

