# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.venv/
venv/

# IDEs
.idea/
.vscode/

# Build/Dist
build/
dist/
*.egg-info/

# Cython/C extensions
*.c  # Generated C files from Cython
*.so  # Compiled shared objects (Linux/macOS)
*.pyd  # Compiled extensions (Windows)

# Local data
*.sqlite3
*.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# uv package manager lockfile
uv.lock
